* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  background-color: rgb(16, 12, 12);
}
.app {
  max-width: 140rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}
.navbar {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  position: fixed;
  z-index: 1000;
}
.app.dark .navbar,
.app.dark .search-bar,
.app.dark .filter,
.app.dark .filter-region,
.app.dark .mode,
.app.dark .card,
.app.dark .back-button,
.app.dark .border-country {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.app.light .navbar,
.app.light .search-bar,
.app.light .filter,
.app.light .filter-region,
.app.light .card,
.app.light .mode,
.app.light .back-button,
.app.light .border-country {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  box-shadow: rgb(99 99 99 / 30%) 0px 2px 8px 0px;
}
.nav-title {
  font-size: 2rem;
  font-weight: 800;
}
.mode {
  box-shadow: none !important;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.main {
  margin: 0 auto;
  padding: 12rem 7.2rem;
}

.app.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.app.light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search-bar {
  height: 5.4rem;
  width: 48rem;
  border-radius: 7px;
  border: none;
  font-size: 1.4rem;
  padding-left: 7.2rem;
}
.search-bar::placeholder {
  font-family: inherit;
  color: inherit;
}
.search-bar:focus {
  outline: none;
}
.search-icon {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-40%);
}

.filter {
  height: 5.4rem;
  width: 20rem;
  border-radius: 7px;
  font-size: 1.4rem;
  padding: 2.4rem;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.filter-region {
  font-size: 1.4rem;
  padding: 2.4rem;
  width: 20rem;
  position: absolute;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}
.filter-region p {
  cursor: pointer;
}
.hide {
  display: none;
}
.arrow-icon {
  font-size: 1.8rem;
}
.country-page {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.2rem;
  margin-top: 4.6rem;
  justify-items: center;
}
.card {
  max-width: 26rem;
  height: 34rem;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 16rem;
}
.card p {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  font-weight: 300;
}
strong {
  font-weight: 600;
}
.country-details {
  padding: 2.8rem;
}
p.country-name {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}
.details-page {
  padding: 7.6rem;
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 600;
  width: 14rem;
  height: 4.2rem;
  border-radius: 7px;
}
.details {
  margin-top: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11rem;
}
.details-img-box {
  width: 56rem;
}
.details-page img {
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  margin-bottom: 6rem;
  gap: 14rem;
}
.country {
  font-weight: 800;
}
.details p {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 300;
}
.border {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.text-center {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.border-country {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 9.6rem;
  height: 3rem;
}
a {
  text-decoration: none;
}

@media (max-width: 75em) {
  .card {
    width: 20rem;
    height: 32rem;
  }
  .card img {
    height: 14rem;
  }
  .country-page {
    gap: 5.4rem;
  }
  .country-details {
    padding: 1.8rem;
  }
  .details-page {
    padding: 0;
  }
}
@media (max-width: 62.5em) {
  .main {
    padding: 12rem 3.6rem;
  }
  .details-img-box {
    width: 56rem;
  }
  .country-page {
    gap: 3.6rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .details {
    gap: 6rem;
  }
  .grid {
    gap: 8rem;
    justify-content: flex-start;
  }

  .border-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 55em) {
  .details {
    gap: 3rem;
  }
  .grid {
    gap: 4rem;
  }
}
@media (max-width: 25em) {
  .navbar {
    padding: 3rem;
  }
  .nav-title {
    font-size: 1.6rem;
  }
  .main {
    padding: 12rem 3.2rem;
  }
  .search {
    display: block;
  }
  .search-bar {
    width: 100%;
    margin-bottom: 3.6rem;
  }
  .search-icon {
    top: 2.6rem;
    left: 2.2rem;
  }
  .country-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
    height: 36rem;
  }
  .card img {
    height: 18rem;
  }

  .details {
    margin-top: 3.6rem;
    flex-direction: column;
    gap: 2.4rem;
  }
  .details-img-box {
    width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .border {
    flex-direction: column;
  }
  .border-grid {
    gap: 0.6rem;
  }
}
